############################
# Backend.
############################
/backend/node_modules

##############################
# Frontend.
##############################

# dependencies
/backend/node_modules
